#index-body {
  background: url('IMG_6203.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}


.navbar {
    background-color: transparent;
    border: none;
}
#test111 {
    color: white !important;
}
.navbar a{
        font-family: 'Raleway', sans-serif;
    color: white !important;
    text-decoration: none;
    font-size: 15px;
    transition: 1s;
}

.navbar a:hover {
    color: #ffffff !important;
    border-bottom: 3px solid;
    border-bottom-color: #2e8b57;
    padding-bottom: 2px;
    transition: .5s;
}

.profile {
    position: relative;
    display: inline-block;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .50s ease;
    opacity: .25;
}


.profile:hover .overlay {
  opacity: .25;
    bottom: 0;
    height: 100%;
}

.board-position {
    font-family: 'Raleway', sans-serif;
  color: #000000;
  font-size: 25px;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -0%);
  -ms-transform: translate(-50%, -0%);
}

.name {
        font-family: 'Raleway', sans-serif;
  color: #000000;
  font-size: 25px;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -0%);
  -ms-transform: translate(-50%, -0%);
}

.paddler-gen {
        font-family: 'Raleway', sans-serif;
    font-size: 20px;
}


.margin {
    margin-bottom: 3px;
}

