#index-body {
  background: url('IMG_6203.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
    font-family: 'Oswald', sans-serif;
}

#home-title {
        font-size: 200px;
    color: white;
    font-style: italic;
    position: relative;
    top: 40px;
}

#home-subtitle {
    font-size: 100px;
    color: white;
    transition: .5s;
    border-top: 0px solid;
    position: relative;
    bottom: 20px;
}
#14-gen {
    text-align: center;
}

figure {
    display: inline-block;
}
.races {
    border: 5px solid;
}
#home-button {
    font-size: 25px;
    padding: 5px;
/*    border: solid 2px;*/
    text-decoration: none !important;
    color: white !important;
    transition: .5s;
    background-color: transparent !important;
    top: 200px;
    position: relative;
    font-family: 'Raleway', sans-serif;
}

#home-button a{
    text-decoration: none !important;
}

#home-button:hover{
    width: 500px;
    transition: .5s;
    color: seagreen !important;
/*    font-size: 30px;*/
}

#home-button:hover + #home-subtitle {
    color: white;
    border-top: 5px solid;
    border-top-color: seagreen;
    border-top-width: 10px;
    transition: .5s;
    font-size: 115px;
}

.navbar {
    background-color: transparent;
    border: none;
}


.navbar a{
    font-family: 'Raleway', sans-serif;
    color: white !important;
    text-decoration: none;
    font-size: 15px;
    transition: 1s;
}

.navbar a:hover {
    color: grey !important;
    border-bottom: 3px solid;
    border-bottom-color: #2e8b57;
    padding-bottom: 2px;
    transition: .5s;
}

.profile {
    position: relative;
    display: inline-block;
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #ffffff;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .50s ease;
    opacity: .25;
}


.profile:hover .overlay {
    opacity: .25;
    bottom: 0;
    height: 100%;
}

.board-position {
    font-family: 'Raleway', sans-serif;
    color: #000000;
    font-size: 25px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -0%);
    -ms-transform: translate(-50%, -0%);
}

.name {
    font-family: 'Raleway', sans-serif;
    color: #000000;
    font-size: 25px;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -0%);
    -ms-transform: translate(-50%, -0%);
}

.paddler-gen {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

.margin {
    margin-bottom: 3px;
}

