.navbar {
    background-color: transparent;
    border: none;
}

.navbar-brand {
  -webkit-transform: scale3d(1.15, 1.15, 1);
          transform: scale3d(1.15, 1.15, 1);
}
.navbar-hover a{
    font-family: 'Raleway', sans-serif;
    color: white !important;
    text-decoration: none;
    font-size: 15px;
    transition: 1s;
}

.navbar-hover a:hover {
    color: grey !important;
    border-bottom: 3px solid;
    border-bottom-color: #2e8b57;
    padding-bottom: 2px;
    transition: .5s;
}

#cover-page {
    background: url('IMG_6203.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    min-height: 125vh;
    position: relative;
}

#cover-page-text {
    color: white;
    font-family: 'Oswald', sans-serif;
}

#home-title {
    font-size: 200px;
    font-style: italic;
    position: relative;
    top: 40px;
}

#home-subtitle {
    font-size: 100px;
    transition: .5s;
    border-top: 0px solid;
    position: relative;
    bottom: 20px;
}
#home-button {
    font-size: 25px;
    padding: 5px;
    text-decoration: none !important;
    color: white !important;
    transition: .5s;
    background-color: transparent !important;
    top: 300px;
    position: relative;
    font-family: 'Raleway', sans-serif;
}

#home-button:hover{
    width: 500px;
    transition: .5s;
    color: seagreen !important;
}

#home-button:hover + #home-subtitle {
    color: white;
    border-top: 5px solid;
    border-top-color: seagreen;
    border-top-width: 10px;
    transition: .5s;
    font-size: 115px;
}


.bottom-curve {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

#about {
    min-height: 125vh;
    font-family: 'Oswald', sans-serif;  
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    position: relative;
}

.about-header {
    text-align: center;
    background-color: transparent;
    font-size: 50px;
    color: #1d5d39;
}

.about-text {
    font-size: 20px;
}

#about-links {
    margin-top: 50px;   
}
.about-link {
    font-size: 25px;
    color: #1d5d39;
    transition: .5s;
}

.about-link:hover {
    color: #1d5d39;
    text-decoration: none;
    transition: .5s;
    font-size: 30px;
    border-bottom: solid 5px;
}

footer {
    background-color: #1d5d39;
    min-height: 10vh;
}

#roster-page {
    background: url('IMG_5806.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    min-height: 125vh;
    position: relative;
}
#roster-page-text {
    position: relative;
    font-family: 'Raleway', sans-serif;
    top: 200px;
        opacity: .90;
        color: ghostwhite;
}
#roster-title {
    font-size: 200px;
}

#roster-subtitle {
    font-size: 45px;
    font-style: italic;
}
#member-heading {
    font-size: 75px;
    margin-top: 100px;
}
#roster-members {
    position: relative;
    font-family: 'Raleway';
}
.profile {
    margin-bottom: 25px;
}
.profile-text {
    text-align: left;
}
.board-position {
    color: #1d5d39;
    font-size: 20px;
}
.profile-name {
    font-size: 50px;
}

.profile-gen {
    color: #1d5d39;
    font-size: 20px;
}
#recruitment-page {
    background: url('IMG_5818.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    min-height: 125vh;
    position: relative;
}
#recruitment-page-text {
    position: relative;
    font-family: 'Raleway', sans-serif;
    top: 200px;
        opacity: .90;
        color: ghostwhite;
}
#recruitment-title {
    font-size: 150px;
}
#recruitment-info {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    position: relative;
}
#recruitment-header {
    font-size: 50px;
    color: #1d5d39;

}
#recruitment-faq {
    text-align: center;
}
#results-page {
    background: url('IMG_6672%202.jpg')no-repeat center center;
    
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
    font-family: 'Oswald', sans-serif;
    position: relative;
    min-height: 125vh;
}


a {
    font-family: 'Raleway', sans-serif;
}

.gen-title a {
    font-size: 25px;
    border-bottom: 5px solid;
}

figure {
    display: inline-block;
}
.fa {
}
.medal {
    margin: 10px;
}




.season {
    font-size: 50px;
    color: white;
}
.races {
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 0px 2px 0px 2px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.75);
/*    color: seagreen;*/
    border-color: black;
    font-family: 'Raleway', sans-serif;
}


@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");


.faq-title > a:before {
    float: left !important;
    font-family: FontAwesome;
    content:"\f068";
    padding-right: 15px;
    color: #1d5d39;
    font-size: 25px;
}

.faq-title > a.collapsed:before {
    float: left !important;
    content:"\f067";
}
.faq-title > a:hover, 
.faq-title > a:active, 
.faq-title > a:focus  {
    text-decoration:none;
}
.faq-question {
    float: left;
    text-decoration: none;
    color: black;
    font-size: 25px;
}

.faq-answer {
    text-align: justify;
        padding-left: 35px;
    margin-bottom: 10px;
}


